---
import "../styles/main.scss";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Head from "./Head.astro";

import { GoogleAnalytics } from "astro-analytics";

const { title, description, img, blog, session, video, JSONLD } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} {img} {blog} {video} {JSONLD} {session} />
  <body>
    <div class="section container">
      <Nav />
      <div>
        <div style="margin-top: 4em;">
          <slot />
        </div>
      </div>
    </div>
    <div
      class="foot"
      style="border-top: 1px solid #444; background-color: #242424;"
    >
      <Footer />
    </div>
    <GoogleAnalytics id="G-4W2CFHCMDN" />
  </body>
</html>
